
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Krispy King</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
        
    <!-- materialize css -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
    </head>
    
    <body>



        <section class="hero is-fullheight" style="background-image: url(../img/background.png)">

            <div class="hero-head" >
                <nav class="navbar">
                    <div class="container">
                        <div id="navbarMenuHeroA" class="navbar-menu">
                            <div class="navbar-end">



                                <a href="{{ url_for('main.index') }}" class="navbar-item " style="color: black">
                                    Home
                                </a>
                                
                                <a href="{{ url_for('auth.logout') }}" class="navbar-item" onclick="alertLog()" style="color: black">
                                    Logout
                                </a>
                                <a href="{{ url_for('main.cart') }}" class="navbar-item" style="color: black"><i class="material-icons">shopping_cart</i>
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>



            </div>

                        
              


            <div class="hero-body" style="background-image: url(../static/img/background.png);">
                <div class="container">
    
                    <center>
                      <h1 style="color: black">Thank you for you purchase {{current_user.name}}</h1>
                        <h3> Your order number is: 1234567</h3>
                        <h3> Your order will be delivered in about 30 minutes</h3>
                        <h3> calculate account balcane - total and check if we need to charge them on their cc</h3>
                            
                        <h4>Mailing info</h4>
                        <h5>{{current_user.name}}</h5>
                        <h5>{{current_user.address}}</h5>
                      
                    </center>   

                </div>
            </div>

        </section>
    


       <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script>
      $(document).ready(function(){
         $('.sidenav').sidenav();
    });
    </script>
    <script src="../static/javascript/script.js"></script>
    </body>


    </html>