{% extends "base.html" %}

{% block content %}



{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

<link href="../static/styles/index.css" rel="stylesheet">

<div class="column is-4 is-offset-4" >
    <h1 class="heading">WELCOME TO KRISPY KING</h1>
    <br>
    <h3>Menu</h3>
    
    <form method="POST" action="/" >
       <div id="menu_item">
            {% for menu_item in items %}
                
            <img class="item-image" src="/static/img/{{menu_item.image}}.png" width="100" height="50">
            <p>{{ menu_item.item }} {{menu_item.price}}</p>
            <input type="text" id="{{menu_item.item}}" name="{{menu_item.item}}" value="0"><br>
                
            {% endfor %}
        </div>       
        <button class="button is-block is-info is-large is-fullwidth">Purchase</button>
    </form>
    
</div>

{% endblock %}