{% extends "base.html" %}

{% block content %}

    

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

<div class="column is-4 is-offset-4">
    


    <form method="POST" action="/">
        <div id="mainframe">
            <center> <h3 class="title">MAIN</h3></center>   
            <div id="mains">

                <!-- card 1-->
            
                <div class="field">
                    <div class="control">
                        <img class="shop-item-image" src="/static/img/hamburger.png" width="100" 
                        height="50" >
                        <label for="Hamburger">Hamburger</label><br>
                        <input type="number" id="hamburger" name="hamburger" value="0"><br>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <img class="shop-item-image" src="/static/img/crispy.png" width="100" 
                        height="50" >
                        <label for="Crispy Chicken Sandwich">Crispy Chicken Sandwich</label><br>
                        <input type="number" id="crispy chicken sandwich" name="crispy chicken sandwich" value="0"><br>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <img class="shop-item-image" src="/static/img/pizza.png" width="100" 
                        height="50" >
                        <label for="pizza">pizza</label><br>
                        <input type="number" id="pizza" name="pizza" value="0"><br>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <img class="shop-item-image" src="/static/img/fish.png" width="100" 
                        height="50" >
                        <label for="Fish burger">Fish burger</label><br>
                        <input type="number" id="fish burger" name="fish burger" value="0"><br>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <img class="shop-item-image" src="/static/img/wings.png" width="100" 
                        height="50" >
                        <label for="Buffalo Wings">Buffalo Wings</label><br>
                        <input type="number" id="buffalo wings" name="buffalo wings" value="0"><br>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <img class="shop-item-image" src="/static/img/macnchesse.png" width="100" 
                        height="50" >
                        <label for="Mac n Cheese">Mac n Cheese</label><br>
                        <input type="number" id="Mac n Cheese" name="Mac n Cheese" value="0"><br>
                    </div>
                </div>
                  
            </div>

            <center> <h3 class="title">SIDE</h3></center>
            <div id="side">

                <!-- card 1-->
                <div class="col 4">
                    <div class="field">
                        <div class="control">
                            <img class="shop-item-image" src="/static/img/hamburger.png" width="100" 
                            height="50" >
                            <label for="Hamburger">Hamburger</label><br>
                            <input type="number" id="Hamburger" name="hamburger" value="0"><br>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <img class="shop-item-image" src="/static/img/crispy.png" width="100" 
                            height="50" >
                            <label for="Crispy Chicken Sandwich">Crispy Chicken Sandwich</label><br>
                            <input type="number" id="Crispy Chicken Sandwich" name="Crispy Chickn Sandwich" value="0"><br>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <img class="shop-item-image" src="/static/img/pizza.png" width="100" 
                            height="50" >
                            <label for="pizza">pizza</label><br>
                            <input type="number" id="pizza" name="pizza" value="0"><br>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <img class="shop-item-image" src="/static/img/fish.png" width="100" 
                            height="50" >
                            <label for="Fish burger">Fish burger</label><br>
                            <input type="number" id="Fish burger" name="Fish burger" value="0"><br>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <img class="shop-item-image" src="/static/img/wings.png" width="100" 
                            height="50" >
                            <label for="Buffalo Wings">Buffalo Wings</label><br>
                            <input type="number" id="Buffalo Wings" name="Buffalo Wings" value="0"><br>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <img class="shop-item-image" src="/static/img/macnchesse.png" width="100" 
                            height="50" >
                            <label for="Mac n Cheese">Mac n Cheese</label><br>
                            <input type="number" id="Mac n Cheese" name="Mac n Cheese" value="0"><br>
                        </div>
                    </div>
                </div>    
            </div>
        </div>      
        <button class="button is-block is-info is-large is-fullwidth">Purchase</button>
    </form>
    
</div>
{% endblock %}