.innertabs{
    background-color: white;

}

.small-heading{

    font-size: 1.4rem;
 }
h6.small-heading{
    color: grey;
    font-weight: bold;
    margin-bottom: 40px;
 }

 
.nav-link{
    margin-left: 20px;
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
 }
 td p{
   margin: 0;
 }

 .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  .hero-body {
    background-image: url(../img/background.png);
  }
